<!-- Base layout for your project - Layout base para tu proyecto-->
{% include "../templates/head.njk" %}
{% include "../templates/header.njk" %}
    {{ content | safe}}
{% include "../templates/footer.njk" %}
