---
layout: layouts/base.njk
title: About Page | Awesome 11ty Starter
description: The descritpion for this section | Descripción para esta sección del sitio 
eleventyNavigation:
  key: about
  title: About
  order: 2
---

<main class="container flex flex-col w-1/2 flex-grow justify-center">
    <h1 class="text-4xl font-semibold text-gray-700">About Section</h1>
    <p class="text-lg text-gray-900 my-2">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus qui ea non est iure aliquid tempore quas adipisci distinctio quidem? Repellat aspernatur deserunt quos, minus minima doloribus, sint consectetur, aut pariatur sapiente porro voluptatem? Ducimus harum iure molestiae commodi hic?</p>
</main>