---
layout: layouts/base.njk
title: Contact | Awesome 11ty Starter
description: The descritpion for this section | Descripción para esta sección del sitio 
eleventyNavigation:
  key: contact
  title: Contact
  order: 3
---

<main class="container flex flex-col w-1/2 flex-grow justify-center">
      <h1 class="text-4xl font-semibold text-gray-700">Contact Section</h1>
    <p class="text-lg text-gray-900 my-2">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quia necessitatibus sint deserunt id odit fuga, culpa nihil similique, esse excepturi odio sequi delectus provident! Rerum quisquam adipisci dolore ipsum quaerat doloribus architecto veniam, sit, accusamus cupiditate, excepturi itaque ab labore!</p>
</main>