---
title: Home site | Awesome 11ty Starter
layout: layouts/base.njk
description: The descritpion for this section | Descripción para esta sección del sitio
eleventyNavigation:
    title: Home
    order: 1
---

<main class="container flex flex-col w-1/2 flex-grow justify-center">
    <h1 class="text-4xl font-semibold text-gray-700">Make it happen, make it fast.</h1>
    <h2 class="text-2xl font-semibold text-gray-600 mb-4">This is an ALL IN ONE for your projects. </h2>
    <p class="text-lg text-gray-900 my-2">A clean and lightweight starter setup for your project with 11ty, Tailwindcss and Webpack.</p>
    <p class="text-lg text-gray-900 my-2">Build awesomes statics websites with this template!</p>
</main>

